.colorred {
 
    height: 50px;
 background-color: red;
}

.colurgreen{
    height: 50px;
    background-color: green;
}

.colurblue{
    height: 50px;
    background-color: blue;
}

.colurorange{
    height: 50px;
    background-color: orange;
}